

<p-button
  (click)="showModalDialog()"
  icon="pi pi-external-link"
  label="New Project"
></p-button>
<p-dialog
  header="Start your new project"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '25vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <span class="p-float-label my-4 ">
    <input [(ngModel)]="project.name" class="w-full" id="float-input" type="text" pInputText />
    <label for="float-input">Project name</label>
  </span>

  <span class="p-float-label my-4">
    <input [(ngModel)]="project.customer" class="w-full" id="float-input" type="text" pInputText />
    <label for="float-input">Customer name</label>
  </span>

  <div class="my-4">
    <textarea [(ngModel)]="project.description" class="w-full"
      [rows]="5"
      [cols]="30"
      pInputTextarea
      placeholder="Project Description"
    ></textarea>
  </div>

  <div class="my-4">
    <p-button (onClick)="inputfile.click()" icon="pi pi-folder-open"></p-button>
    <input [(ngModel)]="project.folder" class="hidden" type="file" placeholder="Folder path" pInputText #inputfile/>
    <input [(ngModel)]="project.folder" class="ml-2 w-auto" type="text" placeholder="Folder path"  readonly pInputText/>
  </div>
  <div class="my-4 flex justify-content-end">
    <p-button label="Create" [disabled]="toValidate()" (onClick)="create()"></p-button>
  </div>
</p-dialog>

<app-notification></app-notification>
